.container-sidebar {
  position: absolute;
  top: 50%;
  right: 0%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.container-sidebar ul {
  list-style-type: none;
}
