.container-sidebar {
  position: fixed;
  top: 45%;
  left: 2px;
  width: 200px;
  /* bring your own prefixes */
 /*  transform: translate(-50%, -50%); */
  border: 1px solid black;
}

.container-sidebar ul {
  list-style-type: none;
}
