<div class="form-group">
  <input class="form-control" type="text" [formControl]='control'
    [ngClass]="{'is-invalid': control.invalid && control.touched}">
</div>
<ng-container
  *ngIf='control.errors && control.touched && control.dirty'>
  <p *ngIf='control.errors.required' style="color: red;">Enter valid name!</p>
  <p *ngIf='control.errors.pattern' style="color: red;">Enter valid email!</p>
</ng-container>

<!-- <div class="form-group">
  <label class="form-control-label" for="email">Email</label>
  <input type="email" class="form-control" [formControl]='control'
    [ngClass]="{'is-valid': control.valid}">
</div>
<ng-container
  *ngIf='control.errors && control.touched && control.dirty'>
  <p *ngIf='control.errors.required' style="color: red;">Enter valid email!</p>
  <p *ngIf='control.errors.email' style="color: red;">Enter valid email!</p>
</ng-container>
 -->
<!--<div class="form-group">
  <label class="form-control-label">Phone Number</label>
  <input type="number" class="form-control" formControlName='phoneNumber'
    [ngClass]="{'is-valid': registerForm.controls.phoneNumber.valid}">
</div>
<ng-container
  *ngIf='registerForm.controls.phoneNumber.errors && registerForm.controls.phoneNumber.touched && registerForm.controls.phoneNumber.dirty'>
  <p *ngIf='registerForm.controls.phoneNumber.errors.required' style="color: red;">Enter valid Phone Number!</p>
  <p *ngIf='registerForm.controls.phoneNumber.errors.minlength' style="color: red;">Enter valid Phone Number!</p>
</ng-container>
<div>
  <span>{{registerForm.controls.phoneNumber.errors | json}}</span>
</div>

<div class="form-group">
  <label class="col-form-label">Password</label>
  <input type="password" class="form-control" formControlName='password'>
</div>

<div class="form-group">
  <label class="col-form-label">Re-Enter Password</label>
  <input class="form-control" type="password" formControlName='repeatPassword'>
</div>

<button class="btn btn-default mt-2" type="submit" [disabled]='registerForm.invalid'>Register</button> -->
