<div class="jumbotron">
  <h3>Your Favourite Movies</h3>
  <div class="row" >
    <div class="col-lg-2" *ngFor="let res of response">
      <div class="card mb-3">
        <img style="display: block;" [src]="res.image" id='movieImage'/>
        <div class="card-body">
          <p class="card-text">{{res.title}}</p>
        </div>
        <a href="{{res.url}}" target="_blank" class="card-text"><h6>Visit Website</h6></a>
        <div class="card-footer text-muted">
          <button class="btn btn-primary" routerLink='../../movies/{{res.id}}'>Remove From Favourites</button>
        </div>
      </div>
    </div>
  </div>

</div>
